.upload-buttons {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.upload-item { 
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.upload-item-option {
  cursor: pointer;
  font-size: 5rem;
  width: 128px;
  height: 128px;
  border: 1px solid black;
  border-radius: 5px;
  margin: 12px;
}